In [1]:
import pandas as pd
import os
import sys
import shutil
from thyroid.utils.exception import customException

In [2]:
print("Current working directory:", os.getcwd())

Current working directory: c:\Users\aakas\Documents\Projects\Thyroid-disease-detection\research

In [3]:
os.chdir("../")

In [4]:
%pwd

'c:\\Users\\aakas\\Documents\\Projects\\Thyroid-disease-detection'

#### 1 Modifying 'all' datasest accordingly

In [6]:
# define configuration
raw_directory = "raw_data"
artifact_directory = "artifact"
file_names = ["allhyper.data","allhypo.data","allhyper.test","allhypo.test"]
ingested_directory = "ingested_data"

In [7]:
# Create the artifact directory if it doesn't exist
if not os.path.exists(artifact_directory):
    os.makedirs(artifact_directory)

# Create the ingested_data directory inside the artifact directory if it doesn't exist
ingested_data_directory = os.path.join(artifact_directory, ingested_directory)
if not os.path.exists(ingested_data_directory):
    os.makedirs(ingested_data_directory)

In [8]:
import os

def read_data_file(file_path):
    #if file_path.lower().endswith('.data' or '.test'):
    try:
        with open(file_path, 'r') as file:
            data = file.readlines()
            print("read_data_file")
            return data
        
    except FileNotFoundError:
        return "File not found."
    except Exception as e:
        return "An error occurred: " + str(e)
    else:
        # if the file does not end with .data
        return False

In [9]:
# process the file extension
all_rows = []
for file in file_names:
    print(file)
    file_path = os.path.join(raw_directory, file)
    data_rows = read_data_file(file_path)
    all_rows.extend(data_rows)

allhyper.data

read_data_file
allhypo.data
read_data_file
allhyper.test
read_data_file
allhypo.test
read_data_file

In [10]:
len(all_rows )

7544

In [5]:
import csv
from datetime import datetime

In [12]:
import re
def process_rows(record):
    cleaned_attributes = []
    rows = record.strip().split('\n')  # Split input into rows
    for attribute in record.strip().split(','):
        attribute = re.sub(r'-', 'negative', attribute)  # Replace '-' with 'negative'
        if '.|' in attribute:
            cleaned_attributes.append(attribute.split('.|')[0])
        elif '[' in attribute:
            cleaned_attributes.append(attribute.split('[')[0])
        else:
            cleaned_attributes.append(attribute)
    return cleaned_attributes

In [13]:
id_removed_data = []
if all_rows:
    for row in all_rows:
        id_removed_data.append(process_rows(row))

In [14]:
type(id_removed_data )

list

In [6]:
import yaml
from thyroid.utils.exception import customException

In [16]:
def read_yaml_file(file_path: str) -> dict:
    try:
        with open(file_path, "rb") as yaml_file:
            return yaml.safe_load(yaml_file)
    except Exception as e:
        raise customException(e, sys) from e

In [17]:
yaml_file_path = os.path.join("config", "config.yaml")
config_data = read_yaml_file(yaml_file_path)
expected_column_length = config_data['train_column_length']

In [20]:
column = config_data['columns']
column_names = [list(column.keys())[0] for column in column]

In [21]:
all_df = pd.DataFrame(id_removed_data, columns=column_names)

In [22]:
all_df.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,class
0,41,F,f,f,f,f,f,f,f,f,...,t,125,t,1.14,t,109,f,?,SVHC,negative
1,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,negative
2,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,negative
3,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,negative
4,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,negative

In [23]:
all_df['class'].unique()

array(['negative', 'hyperthyroid', 'T3 toxic', 'goitre',
       'compensated hypothyroid', 'primary hypothyroid',
       'secondary hypothyroid', 'secondary toxic'], dtype=object)

In [24]:
# Replacing values in the 'class' column
all_df['class'] = all_df['class'].replace(['goitre', 'T3 toxic', 'hyperthyroid', 'secondary toxic'], 'hyperthyroid')
all_df['class'] = all_df['class'].replace(['primary hypothyroid', 'compensated hypothyroid', 'secondary hypothyroid'], 'hypothyroid')

In [25]:
all_df['class'].unique()

array(['negative', 'hyperthyroid', 'hypothyroid'], dtype=object)

In [26]:
all_df.to_csv(f'{ingested_data_directory}/all-hyper-hypo.csv', index=False)

#### 2 Working on thyrodi0387

In [27]:
file = 'thyroid0387.data'

In [28]:
# process the file extension
all_rows = []
file_path = os.path.join(raw_directory, file)
data_rows = read_data_file(file_path)

read_data_file

In [29]:
id_removed_data = []
if data_rows:
    for row in data_rows:
        id_removed_data.append(process_rows(row))

In [30]:
len(id_removed_data[0])

30

In [31]:
thyroid_df = pd.DataFrame(id_removed_data, columns=column_names)

In [32]:
thyroid_df.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,class
0,29,F,f,f,f,f,f,f,f,t,...,f,?,f,?,f,?,f,?,other,negative
1,29,F,f,f,f,f,f,f,f,f,...,t,128,f,?,f,?,f,?,other,negative
2,41,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,11,other,negative
3,36,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,26,other,negative
4,32,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,36,other,S

In [33]:
thyroid_df['class'].unique()

array(['negative', 'S', 'F', 'AK', 'R', 'I', 'M', 'N', 'G', 'K', 'A',
       'KJ', 'L', 'MK', 'Q', 'J', 'C|I', 'O', 'LJ', 'H|K', 'D', 'GK',
       'MI', 'P', 'FK', 'B', 'GI', 'C', 'GKJ', 'OI', 'D|R', 'E'],
      dtype=object)

In [34]:
thyroid_df['class'].replace(['A','AK','B','C','C|I','D','D|R'],"hyperthyroid",inplace = True)
thyroid_df['class'].replace(['E','F','FK','G','GK','H','H|K'],"hypothyroid",inplace = True)

for value in set(thyroid_df['class']):
    if(value != 'hypothyroid' and value != 'hyperthyroid'):
        thyroid_df['class'].replace(value,'negative',inplace=True)

In [35]:
thyroid_df['sex'].unique()

array(['F', 'M', '?'], dtype=object)

In [36]:
thyroid_df.to_csv(f'{ingested_data_directory}/thyroid0387.csv', index=False)

#### 3 Working on hypothyroid.data

In [37]:
# process the file extension
file = "hypothyroid.data"
all_rows = []
file_path = os.path.join(raw_directory, file)
data_rows = read_data_file(file_path)

read_data_file

In [38]:
data_list = [item.strip().split(',') for item in data_rows]

In [39]:
with open(f'{raw_directory}/hypothyroid.names', 'r') as name_file:
    columns = [line.split(':')[0].strip() for line in name_file.readlines()]

In [40]:
data_columns = columns[2:-1]

In [41]:
data_columns.insert(0, 'class')

In [42]:
len(data_columns)

26

In [43]:
hypothyroid_df = pd.DataFrame(data_list, columns=data_columns)
hypothyroid_df.head()

,class,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,...,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG
0,hypothyroid,72,M,f,f,f,f,f,f,f,...,y,0.60,y,15,y,1.48,y,10,n,?
1,hypothyroid,15,F,t,f,f,f,f,f,f,...,y,1.70,y,19,y,1.13,y,17,n,?
2,hypothyroid,24,M,f,f,f,f,f,f,f,...,y,0.20,y,4,y,1,y,0,n,?
3,hypothyroid,24,F,f,f,f,f,f,f,f,...,y,0.40,y,6,y,1.04,y,6,n,?
4,hypothyroid,77,M,f,f,f,f,f,f,f,...,y,1.20,y,57,y,1.28,y,44,n,?

In [44]:
hypothyroid_df.to_csv(f'{ingested_data_directory}/hypothyroid.csv', index=False)

#### 4. Working on sick-ethuroid data

In [45]:
# process the file extension
file = "sick-euthyroid.data"
all_rows = []
file_path = os.path.join(raw_directory, file)
data_rows = read_data_file(file_path)

read_data_file

In [46]:
data_list = [item.strip().split(',') for item in data_rows]

In [47]:
with open(f'{raw_directory}/sick-euthyroid.names', 'r') as name_file:
    columns = [line.split(':')[0].strip() for line in name_file.readlines()]

In [48]:
data_columns = columns[2:-1]
data_columns.insert(0, 'class')

In [49]:
len(data_columns)

26

In [50]:
sick_eu_df = pd.DataFrame(data_list, columns=data_columns)
sick_eu_df.head()

,class,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,...,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG
0,sick-euthyroid,72,M,f,f,f,f,f,f,f,...,y,1,y,83,y,0.95,y,87,n,?
1,sick-euthyroid,45,F,f,f,f,f,f,f,f,...,y,1,y,82,y,0.73,y,112,n,?
2,sick-euthyroid,64,F,f,f,f,f,f,f,f,...,y,1,y,101,y,0.82,y,123,n,?
3,sick-euthyroid,56,M,f,f,f,f,f,f,f,...,y,0.80,y,76,y,0.77,y,99,n,?
4,sick-euthyroid,78,F,t,f,f,f,t,f,f,...,y,0.30,y,87,y,0.95,y,91,n,?

In [51]:
sick_eu_df['sex'].unique()

array(['M', 'F', '?'], dtype=object)

here we will extract only negative records

In [52]:
negative_records = sick_eu_df[sick_eu_df['class'] == 'negative']

In [53]:
negative_records.shape

(2870, 26)

In [54]:
negative_records.head()

,class,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,...,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG
293,negative,20,F,f,f,f,f,f,f,f,...,y,1.80,y,68,y,0.99,y,68,n,?
294,negative,29,F,f,f,f,f,f,f,f,...,y,2.50,y,83,y,0.93,y,89,n,?
295,negative,66,F,f,f,f,f,f,t,f,...,y,1.70,y,76,y,0.83,y,92,n,?
296,negative,62,M,f,f,f,f,f,f,f,...,y,2.20,y,103,y,0.99,y,104,n,?
297,negative,72,F,f,f,f,f,f,f,f,...,y,1.50,y,66,y,0.97,y,69,n,?

In [55]:
negative_records['sex'].unique()

array(['F', 'M', '?'], dtype=object)

In [56]:
negative_records.to_csv(f'{ingested_data_directory}/euthyroid-negative.csv', index=False)

#### 5. Working on ANN data

Let's Merge the ann train and test data

In [57]:
file_names = ["ann-test.data","ann-train.data"]
# process the file extension
all_rows = []
for file in file_names:
    print(file)
    file_path = os.path.join(raw_directory, file)
    data_rows = read_data_file(file_path)
    all_rows.extend(data_rows)

ann-test.data

read_data_file
ann-train.data
read_data_file

In [58]:
len(all_rows )

7200

In [59]:
(all_rows[1].strip().split())

['0.32',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0.0013',
 '0.019',
 '0.084',
 '0.078',
 '0.107',
 '3']

In [60]:
data_list = [record.strip().split() for record in all_rows]

Since no columns are given I am creating columns

In [61]:
ann_columns = ["age","sex","on_thyroxine","query_on_thyroxine","on_antithyroid_medication","sick","pregnant","thyroid_surgery","I131_treatment","query_hypothyroid",
"query_hyperthyroid","lithium","goitre","tumor","hypopituitary","psych","TSH","T3","TT4","T4U","FTI","class"]

In [62]:
len(ann_columns)

22

In [63]:
# Create a DataFrame from the list of lists
ann_df = pd.DataFrame(data_list, columns=ann_columns)

In [64]:
ann_df.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,goitre,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,class
0,0.29,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0061,0.028,0.111,0.131,0.085,2
1,0.32,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0013,0.019,0.084,0.078,0.107,3
2,0.35,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.031,0.239,0.1,0.239,3
3,0.21,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.001,0.018,0.087,0.088,0.099,3
4,0.22,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0.0004,0.022,0.134,0.135,0.099,3

In [65]:
ann_df['class'].value_counts()

class
3    6666
2     368
1     166
Name: count, dtype: int64

- 3 is referring to the 'negative' class
- 2 is referring to the 'hypothyroid' class
- 1 is referring to the 'hyperthyroid' class

In [66]:
ann_df['sex'].value_counts()

sex
0    5009
1    2191
Name: count, dtype: int64

- on this data age, TSH, T3, TT4, T4U, FTI can be multiplied by 100 to ge the orignal numbers
- class : 3-'negative', 2-'hypothyroid', 1-'hyperthyroid'
- since number of females are mor than numbers of males in all data here for sex 0-'female' and 1-'male'
- there are no measured columns for tests to we make it.

In [67]:
ann_df.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,goitre,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,class
0,0.29,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0061,0.028,0.111,0.131,0.085,2
1,0.32,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0013,0.019,0.084,0.078,0.107,3
2,0.35,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.031,0.239,0.1,0.239,3
3,0.21,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.001,0.018,0.087,0.088,0.099,3
4,0.22,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0.0004,0.022,0.134,0.135,0.099,3

In [68]:
ann_df = ann_df.apply(pd.to_numeric, errors='coerce')

In [69]:
continuos_attributes = ['age','TSH','T3','TT4','T4U','FTI']

# map all continuous attributes in multiple of 100
ann_df[continuos_attributes] = ann_df[continuos_attributes] * 100

In [71]:
def fillNewAttributes(row,attribute):
    if row[attribute] > 0:
        return 't'
    else:
        return 'f'

ann_df['TSH_measured'] = ann_df.apply(lambda row: fillNewAttributes(row,'TSH'), axis=1)
ann_df['T3_measured'] = ann_df.apply(lambda row: fillNewAttributes(row,'T3'), axis=1)
ann_df['TT4_measured'] = ann_df.apply(lambda row: fillNewAttributes(row,'TT4'), axis=1)
ann_df['T4U_measured'] = ann_df.apply(lambda row: fillNewAttributes(row,'T4U'), axis=1)
ann_df['FTI_measured'] = ann_df.apply(lambda row: fillNewAttributes(row,'FTI'), axis=1)

In [72]:
ann_df.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,T3,TT4,T4U,FTI,class,TSH_measured,T3_measured,TT4_measured,T4U_measured,FTI_measured
0,29.0,f,0,0,0,0,0,0,0,0,...,2.8,11.1,13.1,8.5,hypothyroid,t,t,t,t,t
1,32.0,f,0,0,0,0,0,0,0,0,...,1.9,8.4,7.8,10.7,negative,t,t,t,t,t
2,35.0,f,0,0,0,0,0,0,0,0,...,3.1,23.9,10.0,23.9,negative,f,t,t,t,t
3,21.0,f,0,0,0,0,0,0,0,0,...,1.8,8.7,8.8,9.9,negative,t,t,t,t,t
4,22.0,f,0,0,0,1,0,0,0,0,...,2.2,13.4,13.5,9.9,negative,t,t,t,t,t

In [73]:
ann_df.to_csv(f'{ingested_data_directory}/ann-data.csv', index=False)

In [74]:
file_list = os.listdir(ingested_data_directory)
for file in file_list:
    if file.endswith('.csv'):
        file_path = os.path.join(ingested_data_directory, file)
        df = pd.read_csv(file_path)
        print(f"File: {file}")
        print(f"Columns: {list(df.columns)}")
        print(f"Column Counts: {len(df.columns)}")

File: all-hyper-hypo.csv
Columns: ['age', 'sex', 'on_thyroxine', 'query_on_thyroxine', 'on_antithyroid_medication', 'sick', 'pregnant', 'thyroid_surgery', 'I131_treatment', 'query_hypothyroid', 'query_hyperthyroid', 'lithium', 'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH_measured', 'TSH', 'T3_measured', 'T3', 'TT4_measured', 'TT4', 'T4U_measured', 'T4U', 'FTI_measured', 'FTI', 'TBG_measured', 'TBG', 'referral_source', 'class']
Column Counts: 30
File: ann-data.csv
Columns: ['age', 'sex', 'on_thyroxine', 'query_on_thyroxine', 'on_antithyroid_medication', 'sick', 'pregnant', 'thyroid_surgery', 'I131_treatment', 'query_hypothyroid', 'query_hyperthyroid', 'lithium', 'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH', 'T3', 'TT4', 'T4U', 'FTI', 'class', 'TSH_measured', 'T3_measured', 'TT4_measured', 'T4U_measured', 'FTI_measured']
Column Counts: 27
File: euthyroid-negative.csv
Columns: ['class', 'age', 'sex', 'on_thyroxine', 'query_on_thyroxine', 'on_antithyroid_medication', 'thyroid_surgery', 'query_hypothyroid', 'query_hyperthyroid', 'pregnant', 'sick', 'tumor', 'lithium', 'goitre', 'TSH_measured', 'TSH', 'T3_measured', 'T3', 'TT4_measured', 'TT4', 'T4U_measured', 'T4U', 'FTI_measured', 'FTI', 'TBG_measured', 'TBG']
Column Counts: 26
File: hypothyroid.csv
Columns: ['class', 'age', 'sex', 'on_thyroxine', 'query_on_thyroxine', 'on_antithyroid_medication', 'thyroid_surgery', 'query_hypothyroid', 'query_hyperthyroid', 'pregnant', 'sick', 'tumor', 'lithium', 'goitre', 'TSH_measured', 'TSH', 'T3_measured', 'T3', 'TT4_measured', 'TT4', 'T4U_measured', 'T4U', 'FTI_measured', 'FTI', 'TBG_measured', 'TBG']
Column Counts: 26
File: thyroid0387.csv
Columns: ['age', 'sex', 'on_thyroxine', 'query_on_thyroxine', 'on_antithyroid_medication', 'sick', 'pregnant', 'thyroid_surgery', 'I131_treatment', 'query_hypothyroid', 'query_hyperthyroid', 'lithium', 'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH_measured', 'TSH', 'T3_measured', 'T3', 'TT4_measured', 'TT4', 'T4U_measured', 'T4U', 'FTI_measured', 'FTI', 'TBG_measured', 'TBG', 'referral_source', 'class']
Column Counts: 30
File: thyroid_20230910_131154.csv
Columns: ['29', 'F', 'f', 'f.1', 'f.2', 'f.3', 'f.4', 'f.5', 'f.6', 't', 'f.7', 'f.8', 'f.9', 'f.10', 'f.11', 'f.12', 't.1', '0.3', 'f.13', '?', 'f.14', '?.1', 'f.15', '?.2', 'f.16', '?.3', 'f.17', '?.4', 'other', 'negative']
Column Counts: 30
File: thyroid_20230911_065431.csv
Columns: ['41', 'F', 'f', 'f.1', 'f.2', 'f.3', 'f.4', 'f.5', 'f.6', 'f.7', 'f.8', 'f.9', 'f.10', 'f.11', 'f.12', 'f.13', 't', '1.3', 't.1', '2.5', 't.2', '125', 't.3', '1.14', 't.4', '109', 'f.14', '?', 'SVHC', 'negative']
Column Counts: 30
File: thyroid_merged_20230911_070540.csv
Columns: ['age', 'sex', 'on_thyroxine', 'query_on_thyroxine', 'on_antithyroid_medication', 'sick', 'pregnant', 'thyroid_surgery', 'I131_treatment', 'query_hypothyroid', 'query_hyperthyroid', 'lithium', 'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH_measured', 'TSH', 'T3_measured', 'T3', 'TT4_measured', 'TT4', 'T4U_measured', 'T4U', 'FTI_measured', 'FTI', 'TBG_measured', 'TBG', 'referral_source', 'class']
Column Counts: 30

In [75]:
data = pd.concat([all_df,thyroid_df,hypothyroid_df,negative_records,ann_df], axis=0)

In [76]:
data.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,class
0,41,F,f,f,f,f,f,f,f,f,...,t,125,t,1.14,t,109,f,?,SVHC,negative
1,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,negative
2,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,negative
3,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,negative
4,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,negative

In [77]:
print(all_df.shape)
print(thyroid_df.shape)
print(hypothyroid_df.shape)
print(negative_records.shape)
print(ann_df.shape)

(7544, 30)
(9172, 30)
(3163, 26)
(2870, 26)
(7200, 27)

In [7]:
%pwd

'c:\\Users\\aakas\\Documents\\Projects\\Thyroid-disease-detection'

In [17]:
data = pd.read_csv("./artifact/ingested_data/merged-data.csv")

In [18]:
data.shape

(29949, 30)

In [16]:
for col in data.columns:
    print(col , data[col].unique())

age ['41' '23' '46' '70' '18' '59' '80' '66' '68' '84' '67' '71' '28' '65'
 '42' '63' '51' '81' '54' '55' '60' '25' '73' '34' '78' '37' '85' '26'
 '58' '64' '44' '48' '61' '35' '83' '21' '87' '53' '77' '27' '69' '74'
 '38' '76' '45' '36' '22' '43' '72' '82' '31' '39' '49' '62' '57' '1' '50'
 '30' '29' '75' '19' '7' '79' '17' '24' '15' '32' '47' '16' '52' '33' '13'
 '10' '89' '56' '20' '90' '40' '88' '14' '86' '94' '12' '4' '11' '8' '5'
 '455' '2' '91' '6' '?' '93' '92' '29.0' '32.0' '35.0' '21.0' '22.0'
 '39.0' '77.0' '23.0' '45.0' '65.0' '53.0' '79.0' '56.99999999999999'
 '54.0' '61.0' '14.000000000000002' '55.00000000000001' '59.0' '60.0'
 '73.0' '56.00000000000001' '38.0' '42.0' '78.0' '64.0' '52.0' '81.0'
 '75.0' '36.0' '51.0' '76.0' '70.0' '87.0' '63.0' '40.0' '16.0'
 '28.000000000000004' '26.0' '25.0' '27.0' '69.0' '62.0' '67.0' '71.0'
 '66.0' '85.0' '43.0' '46.0' '48.0' '24.0' '31.0' '68.0' '74.0' '44.0'
 '52.190000000000005' '37.0' '33.0' '41.0' '82.0' '20.0' '15.0' '47.0'
 '57.99999999999999' '91.0' '49.0' '95.0' '72.0' '50.0' '19.0' '18.0'
 '30.0' '83.0' '86.0' '80.0' '34.0' '11.0' '4.0' '90.0' '13.0' '10.0'
 '12.0' '89.0' '84.0' '17.0' '94.0' '2.0' '3.0' '1.0' '97.0' '88.0' '93.0'
 '92.0' '5.0' '9.0' '8.0' '7.000000000000001' '6.0' '51.5' '98' '97' '9']
sex ['F' 'M' '?' 'f' 'm']
on_thyroxine ['f' 't' '0' '1']
query_on_thyroxine ['f' 't' '0' '1']
on_antithyroid_medication ['f' 't' '0' '1']
sick ['f' 't' '0' '1']
pregnant ['f' 't' '0' '1']
thyroid_surgery ['f' 't' '0' '1']
I131_treatment ['f' 't' '0' '1' nan]
query_hypothyroid ['f' 't' '0' '1']
query_hyperthyroid ['f' 't' '0' '1']
lithium ['f' 't' '0' '1']
goitre ['f' 't' '0' '1']
tumor ['f' 't' '0' '1']
hypopituitary ['f' 't' '0' '1' nan]
psych ['f' 't' '0' '1' nan]
TSH_measured ['t' 'f' 'y' 'n']
TSH ['1.3' '4.1' '0.98' '0.16' '0.72' '0.03' '?' '2.2' '0.6' '2.4' '1.1' '2.8'
 '3.3' '12' '1.2' '1.5' '6' '2.1' '0.1' '0.8' '1.9' '3.1' '0.2' '13' '0.3'
 '0.035' '2.5' '0.5' '1.7' '7.3' '1.8' '0.26' '45' '5.4' '0.99' '0.25'
 '0.92' '0.15' '0.64' '1' '0.4' '2' '2.6' '14.8' '15' '19' '0.02' '3'
 '2.9' '3.2' '9' '1.6' '4.3' '0.005' '0.31' '0.61' '0.05' '7.8' '160'
 '0.025' '1.4' '0.01' '8.8' '151' '0.04' '3.9' '9.4' '2.7' '2.3' '0.94'
 '0.045' '3.5' '0.88' '0.08' '4.5' '0.68' '0.7' '0.67' '27' '6.1' '0.75'
 '0.55' '26' '5.2' '0.77' '0.07' '0.9' '11.4' '143' '0.45' '0.57' '0.65'
 '0.015' '16' '108' '0.83' '9.2' '86' '0.62' '0.59' '9.1' '5.9' '52'
 '0.33' '31' '5.8' '0.28' '51' '6.3' '4.4' '9.6' '3.4' '0.09' '24' '0.76'
 '42' '25' '10' '4.6' '8.6' '0.66' '6.2' '0.79' '28' '0.86' '9.7' '0.84'
 '17' '18' '55' '14' '3.7' '0.87' '6.7' '0.74' '7.6' '0.065' '0.29' '0.37'
 '8' '11' '0.48' '44' '7.9' '5' '7.2' '0.89' '0.93' '0.97' '0.12' '6.4'
 '33' '0.85' '7.1' '0.73' '199' '8.2' '188' '0.22' '98' '22' '6.6' '5.1'
 '0.06' '0.42' '3.8' '35' '4' '0.78' '0.63' '0.52' '60' '0.43' '5.6' '6.9'
 '3.6' '29' '0.38' '4.9' '0.41' '9.9' '7.5' '34' '6.5' '4.7' '103' '0.95'
 '0.14' '0.35' '4.2' '0.81' '0.54' '0.58' '8.9' '5.5' '0.34' '9.3' '0.13'
 '54' '0.39' '8.3' '478' '21' '6.8' '0.32' '0.23' '0.24' '8.1' '0.91'
 '5.3' '100' '0.27' '1.01' '58' '41' '183' '18.4' '0.47' '0.17' '12.1'
 '0.19' '0.82' '43' '0.44' '70' '7.7' '8.4' '0.69' '8.5' '0.21' '82'
 '0.055' '0.96' '0.71' '38' '0.36' '9.8' '7' '0.46' '11.1' '39' '76' '5.7'
 '32' '126' '26.4' '0.53' '0.49' '36' '178' '145' '47' '4.8' '10.3' '89'
 '7.4' '472' '0.51' '116' '61' '99' '46' '78' '468' '14.4' '165' '9.5'
 '80' '0.56' '30.5' '20' '0.18' '50' '236' '23' '440' '139' '530' '109'
 '30' '400' '1.02' '230' '5.73' '66' '65' '117' '40' '0.0'
 '0.0809999999999999' '0.003' '0.004' '0.419' '0.11' '0.002'
 '0.0699999999999999' '0.006' '0.089' '0.232' '0.859' '0.038' '0.012'
 '0.4499999999999999' '0.1399999999999999' '0.208' '3.3000000000000003'
 '0.3399999999999999' '0.011' '2.9000000000000004' '0.098'
 '0.0569999999999999' '0.0849999999999999' '0.049' '0.073' '0.072'
 '0.2799999999999999' '0.051' '0.018' '0.001' '0.909' '0.092' '0.041'
 '0.096' '0.034' '0.033' '0.091' '0.076' '0.3899999999999999' '0.087'
 '0.4599999999999999' '0.052' '0.093' '0.036' '0.066' '0.063' '0.103'
 '0.058' '1.0' '0.1699999999999999' '0.068' '0.2299999999999999'
 '0.8290000000000001' '0.064' '0.469' '0.009' '0.7000000000000001' '19.7'
 '0.5700000000000001' '1.15' '0.101' '0.097' '0.5499999999999999' '0.032'
 '0.0069999999999999' '0.047' '0.074' '0.008' '13.1' '0.889'
 '0.5599999999999999' '0.8789999999999999' '0.062' '0.083' '2.0'
 '0.8200000000000001' '0.7799999999999999' '0.7100000000000001' '0.075'
 '0.061' '0.054' '0.8500000000000001' '0.044' '0.013' '0.023' '0.037'
 '10.6' '0.0689999999999999' '0.077' '0.082' '0.088' '0.0559999999999999'
 '0.078' '0.042' '0.071' '0.046' '17.2' '0.095' '0.019' '0.084'
 '3.4000000000000004' '0.0349999999999999' '16.400000000000002' '0.017'
 '6.800000000000001' '3.5000000000000004' '0.6799999999999999' '0.043'
 '2.8000000000000003' '0.048' '0.016' '0.079' '14.099999999999998' '0.029'
 '0.099' '0.104' '0.039' '0.067' '0.031' '0.024' '0.0279999999999999'
 '0.086' '0.021' '0.022' '1.7000000000000002' '0.929' '0.0139999999999999'
 '43.6' '5.6000000000000005' '0.027' '0.8089999999999999' '0.026' '0.839'
 '1.1900000000000002' '6.6000000000000005' '49.4' '3.0' '0.094' '39.3'
 '5.800000000000001' '0.8699999999999999' '25.2' '0.939'
 '1.7999999999999998' '11.8' '17.599999999999998' '0.1139999999999999'
 '0.1119999999999999' '19.1' '17.0' '0.989' '4.1000000000000005' '16.6'
 '46.0' '19.2' '10.9' '13.6' '4.0' '17.7' '19.8' '1.37'
 '1.6789999999999998' '7.399999999999999' '50.0' '0.959' '0.189' '0.979'
 '7.000000000000001' '1.479' '0.8999999999999999' '10.0' '1.84' '12.6'
 '8.200000000000001' '16.0' '15.1' '13.900000000000002' '18.3' '47.2'
 '23.0' '1.209' '6.0' '10.8' '18.8' '1.44' '3.05' '46.8' '1.14' '2.64'
 '23.6' '14.3' '47.8' '53.0' '14.499999999999998' '17.8' '16.5' '44.0'
 '40.0' '0.573' '1.029' '1.109' '19.9' '0.102' '8.0' '11.7' '5.0' '11.6'
 '0.50' '1.20' '3.10' '0.40' '0' '0.30' '0.90' '1.50' '4.60' '0.20' '5.80'
 '1.40' '2.90' '0.80' '4.90' '10.30' '2.30' '0.70' '37' '0.60' '430'
 '2.50' '1.30' '2.70' '8.10' '3.30' '8.70' '1.90' '3.20' '1.80' '1.10'
 '68' '5.60' '16.50' '2.10' '6.30' '5.50' '7.40' '1.70' '5.90' '14.90'
 '2.20' '9.70' '9.60' '1.60' '3.70' '2.80' '0.10' '140' '4.20' '2.60'
 '8.20' '3.50' '19.20' '9.10' '7.90' '3.60' '7.80' '3.80' '8.50' '5.10'
 '9.20' '213' '7.30' '7.50' '7.70' '2.40' '3.90' '6.10' '10.70' '7.60'
 '8.40' '14.40' '1.05' '6.90' '4.50' '4.70' '53' '4.10' '14.30' '153'
 '288' '8.30' '6.60' '92' '8.80' '8.90' '7.10' '4.80' '6.70' '200' '176'
 '8.60' '59' '3.40' '164' '96' '125' '17.40' '85' '1.83' '4.40' '63'
 '6.50' '13.30' '235' '9.50' '6.20' '4.30' '216' '49' '150' '5.20' '90'
 '77' '9.80' '170' '11.40' '138' '260' '9.40' '9.90' '48' '56' '13.20'
 '6.80' '11.60' '6.40' '15.30' '71' '57' '5.40' '88']
T3_measured ['t' 'f' 'y' 'n']
T3 ['2.5' '2' '?' '1.9' '1.2' '0.6' '2.2' '1.6' '3.8' '1.7' '1.8' '2.6' '2.1'
 '0.3' '5.5' '1.4' '3.1' '1.5' '2.3' '2.4' '2.7' '0.9' '1' '2.8' '2.9'
 '0.8' '1.3' '0.4' '3.3' '3.5' '3.4' '1.1' '4.2' '3.7' '3' '0.7' '4.8'
 '4.3' '0.05' '3.2' '5.4' '4' '0.5' '0.2' '3.6' '5.2' '5' '6' '5.3' '3.9'
 '4.6' '4.5' '7.3' '4.7' '6.7' '4.1' '6.1' '0.1' '4.9' '10.6' '5.1' '7'
 '6.2' '4.4' '7.1' '8.5' '1.44' '7.6' '5.7' '6.6' '2.8000000000000003'
 '1.7999999999999998' '2.0' '2.01' '1.7000000000000002' '2.08'
 '0.7000000000000001' '4.69' '0.8999999999999999' '1.0' '0.96' '6.9' '3.0'
 '2.9000000000000004' '3.3000000000000003' '3.4000000000000004'
 '6.800000000000001' '4.19' '4.1000000000000005' '4.0'
 '3.5000000000000004' '5.6000000000000005' '6.4' '18.0' '9.5' '6.5'
 '13.29' '5.0' '0.83' '0.69' '0.93' '5.9' '2.06' '1.7399999999999998'
 '6.0' '10.59' '6.6000000000000005' '7.000000000000001' '1.80' '2.50'
 '1.70' '2.20' '1.50' '2.30' '2.60' '2.10' '1.60' '1.20' '1.40' '9.80'
 '1.30' '1.10' '3.90' '2.40' '3.40' '1.90' '3.80' '2.70' '4.50' '0.40'
 '3.20' '3.70' '3.30' '4.30' '2.90' '3.10' '0.70' '3.50' '2.80' '0.50'
 '0.60' '3.60' '6.60' '0.20' '4.90' '8.90' '4.10' '0.90' '5.30' '6.70'
 '7.60' '0.80' '7.30' '4.20' '4.40' '5.10' '0.30' '4.70' '6.20' '5.50'
 '4.60' '6.10' '8.10' '0' '5.20' '5.60' '4.80' '10.20' '8.60' '0.10']
TT4_measured ['t' 'f' 'y' 'n']
TT4 ['125' '102' '109' '175' '61' '183' '72' '80' '123' '83' '115' '152' '171'
 '97' '99' '70' '117' '121' '130' '108' '104' '134' '199' '57' '129' '113'
 '119' '84' '81' '95' '66' '101' '147' '120' '69' '?' '39' '87' '63' '133'
 '86' '163' '162' '103' '96' '151' '112' '82' '138' '71' '77' '93' '107'
 '237' '110' '67' '88' '160' '118' '136' '114' '116' '94' '161' '11' '32'
 '124' '137' '92' '135' '105' '150' '126' '146' '91' '217' '141' '159'
 '122' '100' '111' '140' '205' '225' '85' '90' '74' '219' '127' '132'
 '128' '106' '144' '131' '56' '79' '142' '98' '177' '139' '78' '189' '180'
 '73' '145' '184' '38' '156' '75' '148' '14' '76' '54' '58' '27' '65'
 '193' '13' '143' '12' '64' '257' '164' '59' '167' '18' '41' '176' '37'
 '33' '44' '45' '154' '174' '203' '244' '62' '158' '60' '187' '250' '181'
 '157' '223' '272' '166' '213' '235' '10' '68' '231' '191' '48' '5.8'
 '169' '149' '210' '40' '155' '232' '42' '204' '430' '198' '230' '15'
 '170' '165' '47' '168' '194' '89' '52' '179' '192' '172' '4.8' '50' '182'
 '197' '214' '246' '196' '207' '19' '153' '22' '46' '200' '35' '226' '201'
 '233' '206' '31' '255' '178' '239' '195' '6' '36' '2' '3' '289' '240'
 '209' '43' '34' '252' '29' '263' '301' '23' '188' '211' '253' '21' '173'
 '261' '248' '51' '25' '53' '17' '220' '256' '9.5' '212' '273' '222' '186'
 '49' '372' '16' '28' '24' '4' '30' '2.9' '55' '216' '258' '11.1' '8.4'
 '23.9' '8.7' '13.4' '12.3' '13.3' '8.0' '11.3' '10.4' '2.3' '15.4' '11.5'
 '7.8' '15.9' '12.0' '22.5' '11.8' '8.9' '10.3' '12.2' '15.1' '17.5'
 '7.399999999999999' '10.2' '8.200000000000001' '12.5' '12.4' '6.5' '16.0'
 '10.9' '9.6' '10.0' '13.6' '14.000000000000002' '4.7' '17.1'
 '14.099999999999998' '16.1' '10.1' '14.8' '6.3' '10.5' '6.9' '7.1' '11.9'
 '11.6' '14.7' '20.6' '16.400000000000002' '15.2' '13.5' '12.1' '10.7'
 '13.7' '15.0' '16.3' '6.1' '5.6000000000000005' '11.0' '13.1' '9.3'
 '18.9' '5.800000000000001' '6.6000000000000005' '12.7' '8.6' '7.6' '2.4'
 '9.0' '7.7' '17.7' '11.329' '9.9' '13.2' '8.3' '17.0' '9.8' '10.6' '9.2'
 '13.900000000000002' '4.6' '8.1' '13.8' '3.9' '9.4' '0.5' '11.4' '9.1'
 '12.8' '27.800000000000004' '22.1' '14.499999999999998' '3.121' '1.4'
 '11.2' '0.29' '14.2' '9.7' '13.0' '7.9' '4.4' '14.6' '14.3' '19.0' '10.8'
 '15.7' '16.2' '12.6' '0.839' '7.5' '17.2' '18.0' '16.6' '14.4' '7.3'
 '18.2' '2.2' '11.7' '5.3' '15.5' '6.0' '12.9' '19.6' '19.2' '21.4' '15.6'
 '9.663' '8.5' '17.4' '8.799999999999999' '7.000000000000001' '6.7' '16.5'
 '6.2' '5.4' '4.2' '15.8' '16.900000000000002' '16.7' '1.0' '20.4'
 '7.199999999999999' '18.7' '1.3' '14.9' '5.1' '17.8' '18.5'
 '6.800000000000001' '2.9000000000000004' '18.3' '0.406' '21.2' '6.4'
 '20.0' '1.2' '20.3' '3.6' '39.5' '19.3' '5.0' '3.8' '22.0' '1.6'
 '17.299999999999997' '19.9' '5.5' '15.3' '3.7' '3.1' '17.599999999999998'
 '0.419' '18.4' '5.7' '5.2' '20.9' '3.3000000000000003' '38.6' '0.3' '2.0'
 '4.3' '24.8' '23.8' '18.8' '16.8' '19.8' '17.9' '60.0' '18.6' '18.1'
 '25.7' '3.0' '20.1' '2.5' '23.6' '22.2' '1.9' '23.200000000000003' '29.2'
 '25.6' '21.0' '2.8000000000000003' '43.0' '22.4' '0.25' '1.5' '25.0'
 '24.5' '5.9' '20.8' '19.4' '23.5' '22.3' '41.0' '19.1' '23.4'
 '1.7999999999999998' '21.3' '23.1' '4.5' '19.7' '21.9' '4.0' '24.4' '2.7'
 '3.5000000000000004' '21.6' '3.4000000000000004' '3.2'
 '20.200000000000003' '22.8' '23.0' '24.9' '22.6' '20.7' '4.9' '24.0'
 '28.000000000000004' '11.118' '25.5' '30.1' '25.2' '20.5' '0.6' '0.48'
 '25.8' '21.7' '25.3' '0.58' '0.95' '9.159' '23.7' '0.4' '0.2' '2.1'
 '24.6' '23.3' '4.1000000000000005' '28.9' '27.3' '27.200000000000003'
 '26.1' '19.5' '26.3' '3.375' '1.7000000000000002' '1.1' '37.2' '21.1'
 '254' '260' '247' '7.30' '202' '241' '208' '267' '245' '8.10' '218' '296'
 '185' '9.70' '4.10' '308' '426' '224' '2.30' '8.60' '450' '2.90' '396'
 '3.90' '190' '221' '242' '275' '9' '7.50' '5.30' '6.60' '282' '287' '269'
 '20' '7.60' '228' '333' '236' '283' '359']
T4U_measured ['t' 'f' 'y' 'n']
T4U ['1.14' '?' '0.91' '0.87' '1.3' '0.92' '0.7' '0.93' '0.89' '0.95' '0.99'
 '1.13' '0.86' '0.96' '0.94' '0.9' '1.02' '1.05' '0.62' '1.06' '1.55'
 '0.83' '1.09' '1.07' '1.27' '0.76' '1.16' '1' '0.56' '0.81' '0.68' '0.78'
 '0.85' '1.35' '1.15' '0.82' '1.03' '1.58' '0.79' '1.17' '0.71' '0.72'
 '0.88' '1.11' '1.2' '1.1' '1.33' '0.77' '1.24' '0.53' '1.44' '1.63'
 '1.51' '1.42' '1.23' '1.01' '0.98' '0.61' '1.12' '1.43' '1.25' '1.41'
 '1.68' '0.97' '0.84' '0.8' '1.04' '0.73' '1.08' '1.26' '1.46' '1.29'
 '1.34' '1.66' '1.21' '1.19' '0.75' '0.52' '1.83' '1.39' '1.5' '1.93'
 '1.18' '0.74' '0.58' '1.82' '0.6' '1.67' '1.22' '0.66' '0.67' '1.31'
 '0.54' '1.77' '1.59' '1.97' '1.69' '1.38' '1.28' '1.4' '0.69' '0.65'
 '1.74' '2.03' '1.73' '1.65' '1.36' '1.52' '0.57' '1.53' '1.84' '1.57'
 '1.75' '1.32' '1.37' '0.64' '1.79' '1.8' '0.48' '1.71' '1.62' '1.76'
 '1.56' '1.48' '0.59' '0.31' '1.94' '2.12' '1.47' '0.63' '0.944' '0.49'
 '1.88' '0.5' '0.38' '1.49' '0.41' '1.61' '1.7' '2.32' '0.46' '1.45'
 '1.54' '0.47' '0.36' '2.01' '0.25' '13.1' '7.8' '10.0'
 '8.799999999999999' '13.5' '11.3' '14.4' '9.6' '10.4' '8.7' '9.0' '9.3'
 '9.7' '11.6' '8.3' '7.399999999999999' '9.2' '11.2' '10.7' '8.1' '10.3'
 '10.1' '9.5' '9.8' '8.200000000000001' '10.2' '7.3' '8.9' '8.4' '6.7'
 '13.7' '14.6' '12.6' '12.9' '5.800000000000001' '8.0' '11.4' '9.4' '6.0'
 '13.6' '15.0' '10.8' '15.6' '7.6' '11.0' '6.4' '10.9' '6.1' '7.9' '14.9'
 '11.5' '15.3' '5.5' '9.1' '13.900000000000002' '5.4' '13.8' '5.2' '8.5'
 '18.0' '17.8' '7.000000000000001' '9.9' '6.3' '6.2' '8.6' '12.0'
 '7.199999999999999' '7.7' '14.2' '14.000000000000002' '11.1' '15.8'
 '12.5' '12.1' '18.9' '12.8' '6.9' '4.4' '7.5' '17.299999999999997' '14.3'
 '12.2' '11.9' '12.4' '15.5' '6.6000000000000005' '18.4' '12.3'
 '6.800000000000001' '7.1' '13.4' '13.2' '14.7' '15.7' '15.1' '13.0'
 '13.3' '15.9' '14.8' '1.7000000000000002' '16.0' '15.2' '17.1'
 '14.099999999999998' '6.5' '18.7' '4.7' '17.0' '16.6' '3.7' '16.1' '5.7'
 '5.6000000000000005' '4.5' '4.9' '12.7' '3.2' '16.7' '19.5' '5.1' '16.3'
 '23.3' '16.2' '4.1000000000000005' '4.6' '17.5' '4.2' '18.1' '21.5'
 '16.400000000000002' '17.599999999999998' '17.4' '20.200000000000003'
 '21.6' '17.7' '15.4' '16.5' '20.0' '17.9' '2.8000000000000003' '18.2'
 '5.0' '1.9' '16.8' '3.1' '19.7' '14.499999999999998' '19.4' '18.3'
 '16.900000000000002' '18.8' '4.8' '3.6' '23.200000000000003' '3.8' '2.5'
 '20.3' '19.3' '21.0' '20.1' '1.50' '0' '0.90' '1.10' '1.70' '0.70' '1.20'
 '0.80' '0.35' '1.30' '1.86' '0.30' '0.55' '1.40' '0.34' '0.60' '1.80'
 '0.20' '0.32' '1.96' '0.29' '2.21' '1.64' '1.72' '0.28' '2' '0.33' '0.27'
 '0.50' '0.40']
FTI_measured ['t' 'f' 'y' 'n']
FTI ['109' '?' '120' '70' '141' '78' '115' '132' '93' '121' '153' '151' '107'
 '119' '87' '81' '104' '130' '106' '116' '131' '190' '92' '102' '76' '98'
 '90' '61' '94' '129' '95' '91' '33' '113' '148' '140' '171' '155' '186'
 '122' '136' '110' '111' '97' '72' '100' '88' '67' '84' '103' '135' '203'
 '112' '117' '180' '142' '145' '156' '96' '134' '8.9' '60' '139' '41' '99'
 '89' '146' '124' '105' '85' '157' '143' '71' '221' '28' '108' '137' '83'
 '74' '170' '65' '101' '127' '274' '154' '114' '62' '86' '126' '125' '64'
 '172' '162' '79' '118' '73' '152' '163' '149' '14' '51' '165' '77' '32'
 '69' '80' '11' '54' '164' '123' '144' '10' '214' '200' '160' '53' '16'
 '138' '169' '56' '47' '133' '43' '68' '179' '224' '220' '82' '362' '182'
 '75' '66' '161' '57' '58' '312' '63' '128' '147' '158' '281' '207' '216'
 '251' '194' '46' '7' '42' '174' '395' '185' '13' '201' '48' '173' '167'
 '188' '150' '235' '175' '159' '5.4' '189' '59' '166' '34' '228' '232'
 '217' '177' '176' '195' '219' '17' '210' '168' '205' '39' '187' '50'
 '349' '52' '206' '253' '242' '244' '213' '178' '247' '215' '198' '19'
 '237' '37' '7.6' '24' '2' '3' '191' '223' '9' '29' '222' '204' '26' '218'
 '197' '49' '209' '183' '265' '199' '196' '20' '283' '36' '249' '181'
 '8.4' '291' '55' '245' '18' '40' '8.5' '184' '4' '21' '280' '2.8' '9.1'
 '27' '15' '35' '227' '10.7' '23.9' '9.9' '10.9' '9.3' '8.315999999999999'
 '11.746' '2.6' '17.0' '12.4' '8.1' '13.6' '12.0' '27.3' '12.266' '13.8'
 '12.1' '11.2' '10.4' '15.2' '15.5' '16.900000000000002'
 '7.399999999999999' '10.669' '8.523' '12.6' '8.0' '19.5' '11.6' '14.8'
 '10.8' '11.9' '20.3' '10.2' '5.0' '13.1' '11.7' '14.4' '12.8' '11.0'
 '11.5' '9.6' '10.914' '7.172000000000001' '13.4' '13.2'
 '7.000000000000001' '24.7' '16.2' '25.4' '10.1' '13.5' '11.3' '6.4' '7.3'
 '10.0' '9.8' '14.6' '7.9' '16.5' '14.000000000000002'
 '5.6000000000000005' '6.2' '12.784999999999998' '12.3' '3.9' '13.617'
 '15.6' '15.1' '6.7' '8.6' '8.7' '11.776' '7.380000000000001' '15.4'
 '17.599999999999998' '9.0' '10.5' '15.0' '12.2' '9.7' '10.6' '4.6'
 '8.799999999999999' '14.3' '0.4' '7.5' '10.3' '11.538' '9.5' '9.2' '13.0'
 '14.099999999999998' '35.6' '23.7' '13.900000000000002' '13.7' '3.042'
 '6.800000000000001' '2.3' '15.3' '11.1' '0.24' '12.9' '11.4' '14.9' '9.4'
 '13.3' '5.1' '4.0' '11.8' '8.212' '8.004' '0.8290000000000001' '14.864'
 '13.721' '8.200000000000001' '11.226' '16.1' '8.3' '15.072' '14.137'
 '17.4' '5.2' '19.4' '2.2' '19.6' '14.499999999999998'
 '14.449000000000002' '2.0' '20.6' '10.187' '6.5' '12.7' '5.9' '12.5'
 '15.9' '21.1' '11.642' '15.7' '23.6' '16.400000000000002' '10.107'
 '12.577' '17.7' '6.9' '9.875' '1.2' '9.043' '19.0' '14.7' '17.2' '18.2'
 '18.399' '6.3' '4.3' '10.041' '10.291' '7.199999999999999' '16.6' '20.1'
 '7.8' '0.8699999999999999' '7.531000000000001' '15.8'
 '26.200000000000003' '11.401' '4.8' '1.4' '10.083' '19.7' '14.2' '12.058'
 '3.5000000000000004' '20.4' '17.9' '23.5' '0.384' '1.3'
 '17.299999999999997' '11.434' '26.4' '15.592' '23.1' '0.909' '22.4'
 '10.602' '4.1000000000000005' '4.2' '36.9' '18.4' '7.7'
 '14.760000000000002' '18.6' '22.1' '19.8' '1.9' '18.3' '10.706' '4.5'
 '2.9000000000000004' '17.8' '18.9' '15.384' '15.695999999999998' '0.31'
 '16.3' '21.8' '18.5' '3.4000000000000004' '37.8' '5.925' '7.1' '0.3'
 '3.1' '16.0' '13.097' '9.667' '18.0' '21.6' '12.37' '14.016' '19.542'
 '22.7' '18.8' '6.1' '54.6' '16.7' '20.0' '5.509' '12.681' '26.8' '18.7'
 '6.6000000000000005' '5.7' '20.9' '10.878' '7.796' '4.7' '5.5' '20.7'
 '5.3' '16.216' '16.8' '15.28' '12.552' '25.8' '2.5' '25.3' '19.334'
 '20.5' '7.587000000000001' '10.395' '25.1' '1.7999999999999998' '19.3'
 '29.8' '17.5' '33.2' '19.126' '17.1' '15.488' '24.1' '9.771' '9.623'
 '12.162' '0.8999999999999999' '64.2' '18.1' '13.409' '0.25' '3.6'
 '7.0680000000000005' '8.108' '12.474' '21.7' '13.305' '17.567' '9.728'
 '23.8' '0.5' '23.3' '8.627' '5.800000000000001' '32.5' '11.018' '24.2'
 '25.5' '11.954' '9.937' '0.4499999999999999' '51.9' '0.415' '8.731'
 '29.7' '1.7000000000000002' '19.1' '0.485' '4.9' '26.6' '10.81' '11.122'
 '2.8000000000000003' '11.33' '19.2' '22.8' '32.1' '20.200000000000003'
 '22.6' '19.9' '7.739999999999999' '1.6' '1.5' '9.563' '25.9'
 '14.249999999999998' '29.0' '21.9' '18.503' '16.424' '17.358999999999998'
 '24.3' '21.517' '0.5499999999999999' '7.483' '28.8' '22.3' '8.939' '3.8'
 '6.0' '6.548' '33.4' '32.9' '20.062' '9.475' '1.1' '11.207' '61.2' '44.5'
 '10.483' '24.4' '10.383' '13.103000000000002' '0.2799999999999999' '28.3'
 '11.895' '22.2' '8.77' '7.692' '13.81' '10.685' '13.003' '7.492' '9.173'
 '0.76' '8.266' '14.817' '8.971' '14.313999999999998' '10.08' '9.778'
 '9.375' '6.35' '0.54' '10.987' '11.29' '8.870000000000001' '6.493'
 '7.192' '7.762' '1.0' '39.5' '6.955' '10.489' '2.1' '21.4' '10.181'
 '7.358' '3.7' '13.709' '1.347' '11.794' '0.5579999999999999' '0.914'
 '17.641000000000002' '10.282' '0.7000000000000001' '3.528' '31.2' '6.854'
 '9.879' '3.3000000000000003' '21.3' '9.15' '3.225' '27.4' '7.392' '2.217'
 '7.792000000000001' '21.0' '9.09' '9.274' '2.7' '18.346' '7.661'
 '8.466999999999999' '8.366' '8.165' '0.2' '17.036' '24.9' '9.979'

In [80]:
data['class'].unique()

array(['negative', 'hyperthyroid', 'hypothyroid'], dtype=object)

In [94]:
data.to_csv(f'{ingested_data_directory}/data.csv',index=False)

In [86]:
def save_to_csv(data, csv_path):
    try:
        print(len(data))
        with open(csv_path, 'w', newline='') as csv_file:
            csv_writer = csv.writer(csv_file)
            #csv_writer.writerow(column_names)
            for row in data:
                csv_writer.writerow(row)
        return "CSV file saved successfully."
    except Exception as e:
        return "An error occurred while saving CSV: " + str(e)