In [1]:
import pandas as pd
import os
import sys
import shutil
from thyroid.utils.exception import customException

In [2]:
print("Current working directory:", os.getcwd())

Current working directory: c:\Users\aakas\Documents\Projects\Thyroid-disease-detection\research

In [3]:
os.chdir("../")

In [4]:
%pwd

'c:\\Users\\aakas\\Documents\\Projects\\Thyroid-disease-detection'

In [6]:
# define configuration
raw_directory = "raw_data"
artifact_directory = "artifact"
file_names = ["allhyper.data","allhypo.data","allhyper.test","allhypo.test"]
ingested_directory = "ingested_data"

#### 1 Modifying 'all' datasest accordingly

In [7]:
# Create the artifact directory if it doesn't exist
if not os.path.exists(artifact_directory):
    os.makedirs(artifact_directory)

# Create the ingested_data directory inside the artifact directory if it doesn't exist
ingested_data_directory = os.path.join(artifact_directory, ingested_directory)
if not os.path.exists(ingested_data_directory):
    os.makedirs(ingested_data_directory)

In [18]:
import os

def read_data_file(file_path):
    #if file_path.lower().endswith('.data' or '.test'):
    try:
        with open(file_path, 'r') as file:
            data = file.readlines()
            print("read_data_file")
            return data
        
    except FileNotFoundError:
        return "File not found."
    except Exception as e:
        return "An error occurred: " + str(e)
    else:
        # if the file does not end with .data
        return False

In [48]:
# process the file extension
all_rows = []
for file in file_names:
    print(file)
    file_path = os.path.join(raw_directory, file)
    data_rows = read_data_file(file_path)
    all_rows.extend(data_rows)

allhyper.data
read_data_file
allhypo.data
read_data_file
allhyper.test
read_data_file
allhypo.test
read_data_file

In [49]:
len(all_rows )

7544

In [50]:
import csv
from datetime import datetime

In [72]:
import re
def process_rows(record):
    cleaned_attributes = []
    rows = record.strip().split('\n')  # Split input into rows
    for attribute in record.strip().split(','):
        attribute = re.sub(r'-', 'negative', attribute)  # Replace '-' with 'negative'
        if '.|' in attribute:
            cleaned_attributes.append(attribute.split('.|')[0])
        elif '[' in attribute:
            cleaned_attributes.append(attribute.split('[')[0])
        else:
            cleaned_attributes.append(attribute)
    return cleaned_attributes

In [52]:
id_removed_data = []
if all_rows:
    for row in all_rows:
        id_removed_data.append(process_rows(row))

In [53]:
type(id_removed_data )

list

In [54]:
import yaml
from thyroid.utils.exception import customException

In [55]:
def read_yaml_file(file_path: str) -> dict:
    try:
        with open(file_path, "rb") as yaml_file:
            return yaml.safe_load(yaml_file)
    except Exception as e:
        raise customException(e, sys) from e

In [56]:
yaml_file_path = os.path.join("config", "config.yaml")
config_data = read_yaml_file(yaml_file_path)
expected_column_length = config_data['train_column_length']

In [57]:
column = config_data['columns']
column_names = [list(column.keys())[0] for column in column]

In [58]:
df = pd.DataFrame(id_removed_data, columns=column_names)

In [59]:
df.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,class
0,41,F,f,f,f,f,f,f,f,f,...,t,125,t,1.14,t,109,f,?,SVHC,negative
1,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,negative
2,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,negative
3,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,negative
4,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,negative

In [60]:
df['class'].unique()

array(['negative', 'hyperthyroid', 'T3 toxic', 'goitre',
       'compensated hypothyroid', 'primary hypothyroid',
       'secondary hypothyroid', 'secondary toxic'], dtype=object)

In [61]:
# Replacing values in the 'class' column
df['class'] = df['class'].replace(['goitre', 'T3 toxic', 'hyperthyroid', 'secondary toxic'], 'hyperthyroid')
df['class'] = df['class'].replace(['primary hypothyroid', 'compensated hypothyroid', 'secondary hypothyroid'], 'hypothyroid')

In [62]:
df['class'].unique()

array(['negative', 'hyperthyroid', 'hypothyroid'], dtype=object)

In [63]:
df.to_csv(f'{ingested_data_directory}/all-hyper-hypo.csv', index=False)

#### 2 Working on thyrodi0387

In [64]:
file = 'thyroid0387.data'

In [65]:
# process the file extension
all_rows = []
file_path = os.path.join(raw_directory, file)
data_rows = read_data_file(file_path)

read_data_file

In [73]:
id_removed_data = []
if data_rows:
    for row in data_rows:
        id_removed_data.append(process_rows(row))

In [75]:
len(id_removed_data[0])

30

In [76]:
df = pd.DataFrame(id_removed_data, columns=column_names)

In [77]:
df.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,class
0,29,F,f,f,f,f,f,f,f,t,...,f,?,f,?,f,?,f,?,other,negative
1,29,F,f,f,f,f,f,f,f,f,...,t,128,f,?,f,?,f,?,other,negative
2,41,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,11,other,negative
3,36,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,26,other,negative
4,32,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,36,other,S

In [78]:
df['class'].unique()

array(['negative', 'S', 'F', 'AK', 'R', 'I', 'M', 'N', 'G', 'K', 'A',
       'KJ', 'L', 'MK', 'Q', 'J', 'C|I', 'O', 'LJ', 'H|K', 'D', 'GK',
       'MI', 'P', 'FK', 'B', 'GI', 'C', 'GKJ', 'OI', 'D|R', 'E'],
      dtype=object)

In [79]:
df.replace(['A','AK','B','C','C|I','D','D|R'],"hyperthyroid",inplace = True)
df.replace(['E','F','FK','G','GK','H','H|K'],"hypothyroid",inplace = True)

for value in set(df['class']):
    if(value != 'hypothyroid' and value != 'hyperthyroid'):
        df.replace(value,'negative',inplace=True)

In [80]:
df['class'].unique()

array(['negative', 'hypothyroid', 'hyperthyroid'], dtype=object)

In [81]:
df.to_csv(f'{ingested_data_directory}/thyroid0387.csv', index=False)

#### 3 Working on hypothyroid.data

In [96]:
# process the file extension
file = "hypothyroid.data"
all_rows = []
file_path = os.path.join(raw_directory, file)
data_rows = read_data_file(file_path)

read_data_file

In [108]:
data_list = [item.strip().split(',') for item in data_rows]

In [102]:
with open(f'{raw_directory}/hypothyroid.names', 'r') as name_file:
    columns = [line.split(':')[0].strip() for line in name_file.readlines()]

In [103]:
data_columns = columns[2:-1]

In [104]:
data_columns.insert(0, 'class')

In [105]:
len(data_columns)

26

In [109]:
df = pd.DataFrame(data_list, columns=data_columns)
df.head()

,class,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,...,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG
0,hypothyroid,72,M,f,f,f,f,f,f,f,...,y,0.60,y,15,y,1.48,y,10,n,?
1,hypothyroid,15,F,t,f,f,f,f,f,f,...,y,1.70,y,19,y,1.13,y,17,n,?
2,hypothyroid,24,M,f,f,f,f,f,f,f,...,y,0.20,y,4,y,1,y,0,n,?
3,hypothyroid,24,F,f,f,f,f,f,f,f,...,y,0.40,y,6,y,1.04,y,6,n,?
4,hypothyroid,77,M,f,f,f,f,f,f,f,...,y,1.20,y,57,y,1.28,y,44,n,?

In [111]:
df.to_csv(f'{ingested_data_directory}/hypothyroid.csv', index=False)

#### 4. Working on sick-ethuroid data

In [112]:
# process the file extension
file = "sick-euthyroid.data"
all_rows = []
file_path = os.path.join(raw_directory, file)
data_rows = read_data_file(file_path)

read_data_file

In [113]:
data_list = [item.strip().split(',') for item in data_rows]

In [114]:
with open(f'{raw_directory}/sick-euthyroid.names', 'r') as name_file:
    columns = [line.split(':')[0].strip() for line in name_file.readlines()]

In [116]:
data_columns = columns[2:-1]
data_columns.insert(0, 'class')

In [117]:
len(data_columns)

26

In [118]:
df = pd.DataFrame(data_list, columns=data_columns)
df.head()

,class,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,...,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG
0,sick-euthyroid,72,M,f,f,f,f,f,f,f,...,y,1,y,83,y,0.95,y,87,n,?
1,sick-euthyroid,45,F,f,f,f,f,f,f,f,...,y,1,y,82,y,0.73,y,112,n,?
2,sick-euthyroid,64,F,f,f,f,f,f,f,f,...,y,1,y,101,y,0.82,y,123,n,?
3,sick-euthyroid,56,M,f,f,f,f,f,f,f,...,y,0.80,y,76,y,0.77,y,99,n,?
4,sick-euthyroid,78,F,t,f,f,f,t,f,f,...,y,0.30,y,87,y,0.95,y,91,n,?

here we will extract only negative records

In [119]:
negative_records = df[df['class'] == 'negative']

In [120]:
negative_records.shape

(2870, 26)

In [121]:
negative_records.head()

,class,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,...,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG
293,negative,20,F,f,f,f,f,f,f,f,...,y,1.80,y,68,y,0.99,y,68,n,?
294,negative,29,F,f,f,f,f,f,f,f,...,y,2.50,y,83,y,0.93,y,89,n,?
295,negative,66,F,f,f,f,f,f,t,f,...,y,1.70,y,76,y,0.83,y,92,n,?
296,negative,62,M,f,f,f,f,f,f,f,...,y,2.20,y,103,y,0.99,y,104,n,?
297,negative,72,F,f,f,f,f,f,f,f,...,y,1.50,y,66,y,0.97,y,69,n,?

In [122]:
negative_records.to_csv(f'{ingested_data_directory}/euthyroid-negative.csv', index=False)

#### 5. Working on ANN data

Let's Merge the ann train and test data

In [123]:
file_names = ["ann-test.data","ann-train.data"]
# process the file extension
all_rows = []
for file in file_names:
    print(file)
    file_path = os.path.join(raw_directory, file)
    data_rows = read_data_file(file_path)
    all_rows.extend(data_rows)

ann-test.data
read_data_file
ann-train.data
read_data_file

In [124]:
len(all_rows )

7200

In [133]:
(all_rows[1].strip().split())

['0.32',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0.0013',
 '0.019',
 '0.084',
 '0.078',
 '0.107',
 '3']

In [135]:
data_list = [record.strip().split() for record in all_rows]

Since no columns are given I am creating columns

In [136]:
ann_columns = ["age","sex","on_thyroxine","query_on_thyroxine","on_antithyroid_medication","sick","pregnant","thyroid_surgery","I131_treatment","query_hypothyroid",
"query_hyperthyroid","lithium","goitre","tumor","hypopituitary","psych","TSH","T3","TT4","T4U","FTI","class"]

In [126]:
len(ann_columns)

22

In [137]:
# Create a DataFrame from the list of lists
df = pd.DataFrame(data_list, columns=ann_columns)

In [138]:
df.head()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,goitre,tumor,hypopituitary,psych,TSH,T3,TT4,T4U,FTI,class
0,0.29,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0061,0.028,0.111,0.131,0.085,2
1,0.32,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0013,0.019,0.084,0.078,0.107,3
2,0.35,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.031,0.239,0.1,0.239,3
3,0.21,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.001,0.018,0.087,0.088,0.099,3
4,0.22,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0.0004,0.022,0.134,0.135,0.099,3

In [144]:
df['class'].value_counts()

class
3    6666
2     368
1     166
Name: count, dtype: int64

- 3 is referring to the 'negative' class
- 2 is referring to the 'hypothyroid' class
- 1 is referring to the 'hyperthyroid' class

In [142]:
df['sex'].value_counts()

sex
0    5009
1    2191
Name: count, dtype: int64

- on this data age, TSH, T3, TT4, T4U, FTI can be multiplied by 100 to ge the orignal numbers
- class : 3-'negative', 2-'hypothyroid', 1-'hyperthyroid'
- since number of females are mor than numbers of males in all data here for sex 0-'female' and 1-'male'
- there are no measured columns for tests to we make it.

In [ ]:
def save_to_csv(data, csv_path):
    try:
        print(len(data))
        with open(csv_path, 'w', newline='') as csv_file:
            csv_writer = csv.writer(csv_file)
            #csv_writer.writerow(column_names)
            for row in data:
                csv_writer.writerow(row)
        return "CSV file saved successfully."
    except Exception as e:
        return "An error occurred while saving CSV: " + str(e)

In [43]:
import yaml

In [44]:
from datetime import datetime

In [45]:
processed_data = []
if data_rows:
    print("Processing:", file_name)
    for row in data_rows:
        processed_data.append(process_rows(row))

        
    # convert file into .csv and save it to artifacts/ingested directory
    current_datetime = datetime.now().strftime('%Y%m%d_%H%M%S')
    csv_file_name = f"thyroid_{current_datetime}.csv"
    csv_path = os.path.join(ingested_data_directory, csv_file_name)
    save_result = save_to_csv(processed_data, csv_path)
else:
    bad_file_path = os.path.join(bad_data_directory, file_name)
    shutil.move(file_path, bad_file_path)
    print("Moved to bad_data:", file_name)

Processing: allrep.data
2800